{% spaceless %}
{% load i18n staticfiles %}{% load crispy_forms_tags %}{% load common_forms_tags %}{% load common_tags %}
{#  {% load compress %}#}
<!-- viewf -->
{#{% load alugar_tags %}#}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"pt-br" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Catgree - {% block title_html %}Início{% endblock %}</title>
{% comment %}
  <!-- Tell the browser to be responsive to screen width -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" > -->
{% endcomment %}
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {# Normalize = makes browsers render all elements more consistently and in line with modern standards #}
{#{% compress css %}#}
  {# <link href="{% static 'css/normalize.css' %}" rel="stylesheet"> é necessário??? #}
  {# Bootstrap 3.3.7 #}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
  {# Font Awesome #}
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
{#  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}
{#  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-LRlmVvLKVApDVGuspQFnRQJjkv0P7/YFrw84YYQtmYG4nK8c+M+NlmYDCv0rKWpG" crossorigin="anonymous">#}
  {# AdminLTE #}
  <link href="{% static 'css/AdminLTE_custom.css' %}" rel="stylesheet">
  {# DAL - Django Autocomplete Light #}
  <link href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'autocomplete_light/select2.css' %}" type="text/css" media="all" rel="stylesheet" />
{% comment %}
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter page. However, you can choose any other skin.
         Make sure you apply the skin class to the body tag so the changes take effect. -->
{% endcomment %}
  <link href="{% static 'dist/css/skins/skin-blue.min.css' %}" rel="stylesheet">
{#  <link href="{% static 'css/jqtree.css' %}" rel="stylesheet"> {# css da Tree de plano de contas - https://github.com/mbraak/jqTree #}

  {# DAL - Django Autocomplete Light coloca em media do Widget o css usado e os js #}
  {# form.media.css #}

  {% block extrastyle %}{% endblock %}
  <link href="{% static 'css/ftl.css' %}" type="text/css" rel="stylesheet"> {# Deve ser a última a carregar pois altera css anterior #}
{#{% endcompress %}#}
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
  {# RiotJS inject tag style #}
  <style type="riot"></style>
</head>
{% comment %}
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
{% endcomment %}
<body class="disable-animations skin-blue sidebar-mini {% if request.COOKIES.toggleState != "sidebar-mini" %}{{ request.COOKIES.toggleState }}{% endif %}">
<div class="wrapper">

<script type="text/javascript" charset="utf-8">
// var disableMe = '{{ disableMe }}' == 'True';
</script>

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="{% url 'index' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img alt="Brand"  height="20" width="20" src="{% static 'img/logo.png' %}" ></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img alt="Brand"  height="20" width="20" src="{% static 'img/logo.png' %}" > <b>Catgree</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          {% common_menu_mensagens %}
          <!-- Notifications Menu -->
          <li id='workflow_flag_news' class="dropdown notifications-menu tasks-menu"></li>
          <!-- Tasks Menu -->
          <li id='workflow_flag_myworks' class="dropdown tasks-menu"></li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              {% if user.get_username %}<img src="{% static 'img/' %}{% firstof user.get_username %}.jpg" class="user-image" alt="User Image">{% endif %}
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{% firstof user.get_short_name user.get_username %}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                {% if user.get_username %}<img src="{% static 'img/' %}{% firstof user.get_username %}.jpg" class="img-circle" alt="User Image">{% endif %}

                <p>
                  {% firstof user.get_full_name user.get_username %}
                </p>
              </li>
              <!-- Menu Body -->
{% comment Preservado para ver se será usado no futuro %}
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
{% endcomment %}
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'admin:logout' %}" class="btn btn-default btn-flat">Log out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-cogs"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          {% if user.get_username %}<img src="{% static 'img/' %}{% firstof user.get_username %}.jpg" class="img-circle" alt="User Image" onerror="this.src='{% static 'real-estate-icons-by-iconspedia/png/32x32/' %}House.png'">{% endif %}
        </div>
        <div class="pull-left info">
          <p>{{ user.first_name }} {{ user.last_name }}</p>
{#          <!-- Status -->#}
{#          <a href="#"><i class="fa fa-dot-circle text-success"></i> Online</a>#}
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">{% trans 'Main Menu'|upper %}</li>
{% if perms.common.add_estado or perms.common.add_municipio or perms.common.add_cep or perms.cliente.add_pessoa %}
        <li class="treeview">
          <a href="#"><i class="fa fa-cog"></i> <span>Cadastros</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
  {% if perms.common.add_estado or perms.common.add_municipio or perms.common.add_cep or perms.cliente.add_pessoa %}
            <li>
              <a href="#"><i class="far fa-dot-circle"></i> Comuns<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
              <ul class="treeview-menu">
    {% if perms.common.add_estado %}
                <li><a href="/#{% url 'estado' %}"><i class="far fa-dot-circle"></i> Estados</a></li>
    {% endif %}
    {% if perms.common.add_municipio %}
                <li><a href="/#{% url 'municipio' %}"><i class="far fa-dot-circle"></i> Municipios</a></li>
    {% endif %}
    {% if perms.common.add_cep %}
                <li><a href="/#{% url 'cep' %}"><i class="far fa-dot-circle"></i> CEP</a></li>
    {% endif %}
              </ul>
            </li>
  {% endif %}
  {% if perms.common.add_clientes %}
            <li>
              <a href="#"><i class="far fa-dot-circle"></i> Clientes<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
              <ul class="treeview-menu">
                <li><a href="/#{% url 'pessoaFisica' %}"><i class="far fa-dot-circle"></i> Pessoa Física</a></li>
                <li><a href="/#{% url 'pessoaJuridica' %}"><i class="far fa-dot-circle"></i> Pessoa Jurídica</a></li>
              </ul>
            </li>
  {% endif %}
  {% if perms.common.add_banco %}
            <li>
              <a href="#"><i class="far fa-dot-circle"></i> Financeiros<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
              <ul class="treeview-menu">
                <li><a href="/#{% url 'banco' %}"><i class="far fa-dot-circle"></i> Bancos</a></li>
                <li><a href="/#{% url 'indice' %}"><i class="far fa-dot-circle"></i> Índices de Correção</a></li>
              </ul>
            </li>
  {% endif %}
          </ul>
        </li>
{% endif %}
{% if perms.common.add_cor %}
        <li class="treeview">
          <a href="#"><i class="fa fa-cat"></i></i> <span>Básicos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/#{% url 'gatil' %}"><i class="far fa-dot-circle"></i> Gatil</a></li>
            <li><a href="/#{% url 'raca' %}"><i class="far fa-dot-circle"></i> Raça</a></li>
            <li><a href="/#{% url 'regra' %}"><i class="far fa-dot-circle"></i> Regra de Cor</a></li>
            <li><a href="/#{% url 'gato' %}"><i class="far fa-dot-circle"></i> Gatos</a></li>
          </ul>
        </li>
{% endif %}
{#{% if perms.atendimento %}#}
{#        <li class="treeview">#}
{#          <a href="#"><i class="fa fa-phone-volume"></i> <span>Atendimentos</span>#}
{#            <span class="pull-right-container">#}
{#              <i class="fa fa-angle-left pull-right"></i>#}
{#            </span>#}
{#          </a>#}
{#          <ul class="treeview-menu">#}
{#            <li><a href="/#{% url 'atendimento' %}"><i class="far fa-dot-circle"></i>Pendentes</a></li>#}
{#            <li><a href="/#{% url 'atendimento_all' %}"><i class="far fa-dot-circle"></i>Todos</a></li>#}
{#          </ul>#}
{#        </li>#}
{#{% endif %}#}
{#        <li class="treeview">#}
{#          <a href="#"><i class="fa fa-phone-volume"></i> <span>Workflow</span>#}
{#            <span class="pull-right-container">#}
{#              <i class="fa fa-angle-left pull-right"></i>#}
{#            </span>#}
{#          </a>#}
{#          <ul class="treeview-menu">#}
{#            <li><a href="/#{% url 'workflow_myworks' %}"><i class="far fa-dot-circle"></i>Meus Workflows</a></li>#}
{#            <li><a href="/#{% url 'workflow_news' %}"><i class="far fa-dot-circle"></i>Novos/Sem Responsável</a></li>#}
{#            <li><a href="/#{% url 'workflow_pending' %}"><i class="far fa-dot-circle"></i>Pendências</a></li>#}
{#            <li><a href="/#{% url 'workflow_all' %}"><i class="far fa-dot-circle"></i>Todos os Workflows</a></li>#}
{#          </ul>#}
{#        </li>#}
{% comment Imobiliar DESATIVADO %}
{% if perms.imobiliar.add_taxas or perms.imobiliar.add_balancete or perms.imobiliar.add_pessoa or perms.imobiliar.add_tarefas %}
        <li class="treeview">
          <a href="#"><i class="fa fa-external-link"></i> <span>Integração Imobiliar</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
  {% if perms.imobiliar.add_taxas %}
            <li><a href="/#{% url 'taxas' %}"><i class="far fa-dot-circle"></i> Taxas</a></li>
  {% endif %}
  {% if perms.imobiliar.add_balancete or perms.imobiliar.add_pessoa %}
            <li>
              <a href="#"><i class="far fa-dot-circle"></i>Geral<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
              <ul class="treeview-menu">
                <li><a href="/#{% url 'balancete' %}"><i class="far fa-dot-circle"></i> Balancete Data Pgto</a></li>
                <li><a href="/#{% url 'razao' %}"><i class="far fa-dot-circle"></i> Razão por Data Pgto</a></li>
                <li><a href="/#{% url 'balanceteCompetencia' %}"><i class="far fa-dot-circle"></i> Balancete por Compet.</a></li>
              </ul>
            </li>
  {% endif %}
  {% if perms.imobiliar.add_pessoa %}
            <li>
              <a href="#"><i class="far fa-dot-circle"></i> Proprietário<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
              <ul class="treeview-menu">
                <li><a href="/#{% url 'balanceteProp' %}"><i class="far fa-dot-circle"></i> Balancete</a></li>
                <li><a href="/#{% url 'razaoProp' %}"><i class="far fa-dot-circle"></i> Razão</a></li>
                <li><a href="/#{% url 'competenciaProp' %}"><i class="far fa-dot-circle"></i> Análise por Competência</a></li>
                <li><a href="/#{% url 'naoPagasProp' %}"><i class="far fa-dot-circle"></i> Contas a Pagar Não Pagas</a></li>
              </ul>
            </li>
  {% endif %}
  {% if perms.imobiliar.add_tarefas %}
            <li>
              <a href="#"><i class="far fa-dot-circle"></i>Imóvel<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
              <ul class="treeview-menu">
                <li><a href="/#{% url 'tarefasImovel' %}"><i class="far fa-dot-circle"></i>Tarefas de Imóvel</a></li>
              </ul>
            </li>
  {% endif %}
          </ul>
        </li>
{% endif %}
{% endcomment %}
{#        <li><a href="/#{% url 'configuracao' %}"><i class="fa fa-cogs" aria-hidden="true"></i> <span>Configuração de Empresas</span></a></li>#}
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
{% comment Preservado para ver se será usado no futuro %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 id="h1title"></h1>
      <h1 id="h1title">
        Invoice
        <small>#007612</small>
      </h1>
      <h1>
        {{ title }}
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="//"><i class="fa fa-dashboard"></i> Level</a></li>
        <li>Titulo</li>
        <li>Titulo</li>
        <li>Titulo</li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endcomment %}

    <!-- Main content -->
    <section class="content" style="padding-top: 0px; padding-left: 0px; padding-right: 0px;">
      <!--<div id="content" class="content-fluid"> -->
        <!-- Your Page Content Here -->
        <!-- Content -->
        <ftl-tabs></ftl-tabs>
        {% block pretitle %}{% endblock %}
        {% block content_h1 %}{% if h1 %}<h1 role="h1">{{ h1 }}</h1>{% endif %}{% endblock %}
        {% if not user.is_active %}
        {% block login %}
        <div id="login">
          <form class="form-horizontal" name="LoginForm" action="/common/login/" method="post">
            {% csrf_token %}
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="col-md-12 bg-primary text-center" style="font-size:24px;padding:10px;">Catgree</div>
            <div class="col-md-12">
              <label class="control-label requiredField">Username</label>
              <input class="textinput textInput form-control" id="username" maxlength="60" name="username" placeholder="Username" type="text" />
            </div>
            <div class="col-md-12">
              <label class="control-label requiredField" for="password">Password</label>
              <input class="textinput textInput form-control" id="password" maxlength="60" name="password" placeholder="Password" type="password" />
            </div>
            <div class="col-md-12 text-center" style="vertical-align:middle;padding:10px;">
              <input type="submit" name="save" value="Login" class="btn btn-primary btn-sm"/>
            </div>
           </form>
        </div>
        {% endblock %}
        {% endif %}
        <div id="div-riot" class="content-fluid">
          <ftl-error-message></ftl-error-message>
          <div id="ftlinclude">
            {% block content %}
              {% block object-tools %}{% endblock %}
              {{ content }}
            {% endblock %}
          </div>
        </div>
        <!-- END Content -->
        <!--</div> content fluid-->
      {% block footer %}<div id="footer"></div>{% endblock %}
      <!-- Errors -->
      {% block messages %}
        {% if messages %}
          <div id="erros" class="container" style="margin-top:20px">
            {% for message in messages %}
              <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}info{% endif %} col-md-8 col-md-offset-2"  style="margin-top:20px" role="alert">{{ message|capfirst }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock messages %}
{% comment "Teoricamente os campos com erros são mostrados no form master, mas não no formset detail " %}
      <div id='form-errors'>{{ form_errors }} {{ form.non_field_errors }} {{ form.errors }} </div>
      <div id='formset-errors'>{{ formset_errors }} {{ formset.non_field_errors }} {{ formset.errors }} </div>
{% endcomment %}
      {% block form-errors %}
      <div id='form-errors' class="container" style="margin-top: 20px;">
        {% with form|nice_errors as qq %}
         {% for error_name,desc in qq.items %}
          <div  class="row">&nbsp;</div><div  class="row"><div class="alert alert-danger col-md-10" role="alert">{% if master %}Aba de {{ master }}<br><br>{% endif %}{{ error_name|capfirst }}: {{ desc }}</div></div>
         {% endfor %}
        {% endwith %}
        {% for f, msg in form.non_field_errors.items %}
         {% if f %}
          <div  class="row">&nbsp;</div><div  class="row"><div class="alert alert-danger col-md-10" role="alert">{% if master %}Aba de {{ master }}<br><br>{% endif %}{{ f|capfirst }}</div></div>
         {% endif %}
        {% endfor %}
      </div>
      {% endblock %}
      {% block formset-errors %}
      <div id='formset-errors' class="container" style="margin-top: 20px;">
        {% with formset|nice_errors as qq %}
          {% for error_name,desc in qq.items %}
            <div  class="row col-md-11">&nbsp;</div>
            <div  class="row col-md-11">
              <div class="alert alert-danger col-md-10" role="alert">{% if detail %}Aba de {{ detail }}<br><br>{% endif %}{{ f }}{{ msg }}{{ error_name }}: {{ desc }}</div>
            </div>
          {% endfor %}
        {% endwith %}
        {% for f,msg in formset.non_field_errors.items %}
          {% if f %}
            <div  class="row">&nbsp;</div>
            <div  class="row">
              <div class="alert alert-danger col-md-10" role="alert">{% if detail %}Aba de {{ detail }}<br><br>{% endif %}{{ f }}{{ msg }}{{ f }}{{ msg }}{{ f }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endblock %}
      <!-- END Errors -->
      <div id="commonLoad" class="commonLoad" ><i class="fa fa-spinner fa-pulse fa-3x" style="color:#09568d"></i></div>
      <div id="ftl-modal"></div>
      <!-- END Container -->
      <input id="idCurrentDefaultUser" type="hidden" value="{{ user.id }}" />
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% comment Preservado para ver se será usado no futuro %}
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
{ comment Preservado para ver se será usado no futuro }
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
{ endcomment }
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="/contact">FTL Informática</a>.</strong> {% trans 'All rights reserved' %}.
  </footer>
{% endcomment %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{# REQUIRED JS SCRIPTS #}
{#{% compress js %}#}
<script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script> {# lib para leitura/gravação de cookie #}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
{# Bootstrap 3.3.6 #}
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
{# AdminLTE App #}
<script type="text/javascript" src="{% static 'dist/js/app.min.js' %}"></script>
<script>
$.AdminLTESidebarTweak = {};

$.AdminLTESidebarTweak.options = {
    EnableRemember: true,
    NoTransitionAfterReload: true
    //Removes the transition after page reload.
};

$(function () {
    "use strict";

    $("body").on("collapsed.pushMenu", function(){
        if($.AdminLTESidebarTweak.options.EnableRemember){
            Cookies.set('toggleState', 'sidebar-collapse');
            // document.cookie = "toggleState=sidebar-collapse";
        }
    });
    $("body").on("expanded.pushMenu", function(){
        if($.AdminLTESidebarTweak.options.EnableRemember){
            Cookies.set('toggleState', 'sidebar-mini');
            // document.cookie = "toggleState=sidebar-mini";
        }
    });

{% comment Não é mais necessário pois há tratamento em <body> usando Django para identificar qual é o estado atual do menu, se collapsed ou não %}
    if($.AdminLTESidebarTweak.options.EnableRemember){
        // var re = new RegExp('toggleState' + "=([^;]+)");
        // var value = re.exec(document.cookie);
        // var toggleState = (value != null) ? unescape(value[1]) : null;
        // console.log(Cookies.get());
        var toggleState = Cookies.get('toggleState');
        // console.log('toggleState=',toggleState);
        if(toggleState == 'sidebar-collapse'){
            // console.log('dentro');
            if($.AdminLTESidebarTweak.options.NoTransitionAfterReload){
                $("body").addClass('sidebar-collapse hold-transition').delay(100).queue(function(){
                // $("body").addClass('sidebar-collapse hold-transition').queue(function(){
                    $(this).removeClass('hold-transition');
                });
            }else{
                $("body").addClass('sidebar-collapse');
            }
        }
    };
{% endcomment %}

});
</script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->

<script type="text/javascript" src="{% static 'js/jquery.django-inlines.js' %}"></script>
<script type="text/javascript" src="{% static 'js/accounting.min.js' %}"></script> {# biblioteca para formatar números em js #}
<script type="text/javascript" src="{% static 'js/moment-2.22.1.min.js' %}"></script> {# momentjs - biblioteca para formatar data em js #}
<script type="text/javascript" src="{% static 'js/locale/pt-br.js' %}"></script> {# momentjs - locale pt-BR #}
{#<script type="text/javascript" src="{% static 'js/jquery.rest.min.js' %}"></script> {# DRF #}
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tree.jquery.min.js' %}"></script>

{% if idTree %}
<script type="text/javascript" src="{% static 'js/tree.jquery.min.js' %}"></script>
<script type="text/javascript" charset="utf-8">{# http://mbraak.github.io/jqTree #}
var $tree = $("#{{ idTree }}");
var acaoURL="{{ acaoURL|safe }}";
var detalheText="{{ detail }}";
var updateParentText="{{ updateParent }}";
</script>
<script type="text/javascript" src="{% static 'js/commonTree.js' %}"></script>
{% endif %}

<!-- riot -->
{#<script type="text/javascript" src="{% static 'js/riot+compiler.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'js/riot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/route.js' %}"></script>

<script type="text/javascript" src="{% static 'tags/ftl-menu-button.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-badge-days.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-workflow.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-include.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-modal.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-form-modal.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-timeout.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-error-message.js' %}"></script>
<script type="text/javascript" src="{% static 'tags/ftl-tabs.js' %}"></script>
{% comment Desativado temporariamente %}
<script type="text/javascript" src="{% static 'tags/ftl-breadcrumb.js' %}"></script>
{% endcomment %}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  rotas = [
    { 'rota': "{% url 'gatil' %}",                         'nome': 'Gatil',                                     'url': '{% url 'gatil' %}',                'reload': false },
    { 'rota': "{% url 'gato' %}",                          'nome': 'Gato',                                      'url': '{% url 'gato' %}',                 'reload': false },
    { 'rota': "{% url 'raca' %}",                          'nome': 'Raça',                                      'url': '{% url 'raca' %}',                 'reload': false },
    { 'rota': "{% url 'regra' %}",                         'nome': 'Regra de Cor',                              'url': '{% url 'regra' %}',                'reload': false },
    { 'rota': "{% url 'estado' %}",                        'nome': 'Estado',                                    'url': '{% url 'estado' %}',               'reload': false },
    { 'rota': "{% url 'municipio' %}",                     'nome': 'Município',                                 'url': '{% url 'municipio' %}',            'reload': false },
    { 'rota': "{% url 'cep' %}",                           'nome': 'CEP',                                       'url': '{% url 'cep' %}',                  'reload': false },
    { 'rota': "{% url 'pessoaFisica' %}",                  'nome': 'Pessoa Física',                             'url': '{% url 'pessoaFisica' %}',         'reload': false },
    { 'rota': "{% url 'pessoaJuridica' %}",                'nome': 'Pessoa Jurídica',                           'url': '{% url 'pessoaJuridica' %}',       'reload': false },
    { 'rota': "{% url 'banco' %}",                         'nome': 'Banco',                                     'url': '{% url 'banco' %}',                'reload': false },
    { 'rota': "{% url 'indice' %}",                        'nome': 'Índice de Correção',                        'url': '{% url 'indice' %}',               'reload': false },
    {#{ 'rota': "{% url 'atendimentoTipo' %}",               'nome': 'Tipo de Atendimento',                       'url': '{% url 'atendimentoTipo' %}',      'reload': false },#}
    {#{ 'rota': "{% url 'atendimento' %}",                   'nome': 'Atendimentos Pendentes',                    'url': '{% url 'atendimento' %}',          'reload': false },#}
    {#{ 'rota': "{% url 'atendimento_all' %}",                   'nome': 'Todos os Atendimentos',                    'url': '{% url 'atendimento_all' %}',      'reload': false },#}
    {#{ 'rota': "{% url 'atendimento2' %}",                   'nome': 'Atendimentos2',                    'url': '{% url 'atendimento2' %}',          'reload': true },#}
    {#{ 'rota': "/atendimento/atendimento/",                 'nome': 'Atendimento',                               'url': '/atendimento/atendimento/',        'reload': true },#}
    { 'rota': "{% url 'workflow_myworks' %}",                 'nome': 'Meus Workflows',                         'url': '{% url 'workflow_myworks' %}',     'reload': false },
    { 'rota': "{% url 'workflow_news' %}",                    'nome': 'Workflows Novos',                        'url': '{% url 'workflow_news' %}',        'reload': false },
    { 'rota': "{% url 'workflow_pending' %}",                 'nome': 'Workflows Pendentes',                    'url': '{% url 'workflow_pending' %}',     'reload': false },
    { 'rota': "{% url 'workflow_all' %}",                     'nome': 'Todos os Workflows',                     'url': '{% url 'workflow_all' %}',         'reload': false },
    { 'rota': "/common/workflow/action/",                         'nome': 'Workflow',                                  'url': '/common/workflow/action/',                'reload': false },
    {#{ 'rota': "/common/workflow/",                         'nome': 'Workflow',                                  'url': '/common/workflow/',                'reload': true },#}
    { 'rota': "{% url 'configuracao' %}",                  'nome': 'Configuração',                              'url': '{% url 'configuracao' %}',         'reload': false }
  ];
  current_route = '';

  configuraFTL();

  riot.mount("#workflow_flag_news", 'ftl-timeout', { 'url': '{% url 'workflow_flag_news' %}', 'safe': true });
  riot.mount("#workflow_flag_myworks", 'ftl-timeout', { 'url': '{% url 'workflow_flag_myworks' %}', 'safe': true });

  document.getElementById('ftl-page-load').value='loaded'; // Sinaliza que concluiu o carregamento da página
});
</script>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.highlight.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.searchHighlight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/select2/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/select2.js' %}"></script>

<script type="text/javascript" src="{% static 'js/select2/select2-forward.js' %}"></script>

<script type="text/javascript" src="{% static 'js/select2/pt-br.js' %}"></script>

{# jquery.event-trace: Usado para logar todos os eventos gerados pelo jquery #}
{#<script type="text/javascript" src="{% static 'js/jquery.event-trace.js' %}"></script>#}

{% block extrajavascript %}
{# DAL - Django Autocomplete Light coloca em media do Widget o css usado e os js #}
{{ form.media.js }}
{% if extrajavascript %}<script type="text/javascript" charset="utf-8">{{ extrajavascript|safe }}</script>{% endif %}
{% endblock %}

{#{% endcompress %}#}

<input type="hidden" id="ftl-page-load" value="loading" />
</body>
</html>
{% endspaceless %}
