{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_html %}FTL Informática Ltda.{% endblock %}

{% block content %}
<div class="container">
 <div class="row text-center"><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<img src="{% static 'img/ftl.jpg' %}" alt="FTL Informática Ltda." height="30%" width="30%">
</div>
 <div class="row text-center">
<p><strong>Washington Lucena</strong></p>
<p>(61) 98428-3321 <a href="#">was@ftl.com.br</a></p>
</div>
<div class="row text-center">
<p></p>
</div>
<div class="row text-center">
<p><strong>Rogério Dusi</strong></p>
(61) 98415-4199 <a href="#">rogerio@ftl.com.br</a>
</div>
</div>

{% endblock %}

{% block form-errors %}{% endblock %}

